version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: post-itis-app
    restart: always
    ports:
      - "3008:3008"
    env_file:
      - .env
    environment:
      - NEXTAUTH_URL=${NEXTAUTH_URL}
      - NEXTAUTH_SECRET=${NEXTAUTH_SECRET}
      - MYSQL_HOST=${MYSQL_HOST}
      - MYSQL_PORT=${MYSQL_PORT}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
    volumes:
      - ./public/uploads:/app/public/uploads
      - ./public/assets:/app/public/assets
    networks:
      - nginx_network

networks:
  nginx_network:
    external: true
